{
    "colors":
    {
        "background": "#615A55",
        "button": "#DEDEDE",
        "playing": "#EA2C46"
    },
    "branding":
    {
        "logo": "",
        "title": ""
    },
    "menu":
    {
        "upload-sound-config": true,
        "download-sound-config": true
    }
}
