html, body {
    background-color: #615A55;
}

#loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -33px 0 0 -33px;
    width: 66px;
    height: 66px;
}

#soundboard {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
}

.button {
    height: 120px;
    width: 120px;
    margin: 15px;
    float: left;
    border-radius: 5px;
    cursor: pointer;
    position:relative;
}

.button-small {
    height: 32px;
    min-width: 24px;
    line-height: 32px;
    text-align: center;
    margin: 15px;
    float: left;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    padding: 0 4px;
}

.upload-content {
    background-color: #fff;
    height: 32px;
    min-width: 24px;
    line-height: 32px;
    text-align: center;
    margin: 15px;
    float: left;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    padding: 0 10px;
    display:none;
}

span.error {
    color: #78000b;
}

span.success {
    color: #00ae09;
}

.button .tooltip {
    height: 20%;
    font-size: 10px;
    line-height: 23px;
    text-align: center;
}

.button .comment {
    font-size: 10px;
    line-height: 23px;
    text-align: center;
    position: absolute;
    bottom: 5px;
    width: 100%;
    color: #838383;
}

.button .state {
    display: none;
    width: 80%;
    height: 40%;
    margin: 10%;
    border-radius: 3px;
}

#menu {
    text-align: right;
}

.show {
    transition: opacity 200ms;
    opacity: 1;
}
.hide {
    transition: opacity 200ms;
    opacity: 0;
}

#branding h1 {
    text-align: right;
    font-size: 40px;
    margin-right: 100px;
    text-shadow: 0px 3px 0px #b2a98f,
    0px 4px 5px rgba(0,0,0,0.15),
    0px 7px 1px rgba(0,0,0,0.1),
    0px 12px 15px rgba(0,0,0,0.1);
}

#branding .logo {
    max-height: 120px;
    float: right;
    margin-right: 20px;
    margin-left: 100px;
}
